Repository varvarkrut/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, slack-notification-frontend, upload-backend-release, slack-notification-backend

build-backend-code-job:
  stage: build
  script:
  - cd backend
  - mvn package -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository
  artifacts:
    paths:
    - backend/target/sausage-store-$SNAPSHOT_VERSION-SNAPSHOT.jar
    - ${CI_PROJECT_DIR}/.m2/

build-frontend-code-job:
  stage: build
  script:
  - cd frontend
  - npm install
  - npm run build
  artifacts:
    paths:
    - frontend/dist/frontend
    - ${CI_PROJECT_DIR}/.m2/

sonarqube-backend-sast:
  stage: test
  image: maven:3.8-openjdk-16
  script:
  - cd backend
  - 'mvn verify sonar:sonar -Dsonar.qualitygate.wait=true -Dsonar.projectKey=${SONAR_KEY} -Dsonar.host.url=${SONAR_URL} -Dsonar.login=${SONAR_LOGIN} -Dsonar.projectName=09_IVANSHKURKO_BACKEND
  
    '
  needs:
  - build-backend-code-job

sonarqube-frontend-sast:
  stage: test
  image: node:16.0.0-buster
  script:
  - cd frontend
  - npm install -g sonarqube-scanner
  - 'sonar-scanner -Dsonar.projectKey=${SONAR_FRONT_KEY} -Dsonar.sources=. -Dsonar.host.url=${SONAR_URL} -Dsonar.login=${SONAR_FRONT_LOGIN} -Dsonar.projectName=09_IVANSHKURKO_FRONTEND
  
    '
  needs:
  ...

slack-notification-frontend:
  stage: notify
  script: 'ARTIFACT_URL=$(curl --user std-009-057:kgM+2E:j -X GET  https://nexus.praktikum-services.ru/service/rest/v1/search?maven.baseVersion=1.0.252595-SNAPSHOT | grep downloadUrl | head -1 | grep -Eo https://[a-zA-Z0-9./?=_%:-]*)
  
  ...

upload-backend-release:
  stage: release
  needs:
  - build-backend-code-job
  script:
  - cd backend
  - mvn -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository -s settings.xml -DskipTests deploy

slack-notification-backend:
  stage: notify
  script: 'ARTIFACT_URL=$(curl --user std-009-057:kgM+2E:j -X GET  https://nexus.praktikum-services.ru/service/rest/v1/search?maven.baseVersion={$SNAPSHOT_VERSION}-SNAPSHOT | grep downloadUrl | head -1 | grep -Eo https://[a-zA-Z0-9./?=_%:-]*)
  
  ...

add depoy using ssh
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, slack-notification-frontend, upload-backend-release, slack-notification-backend

fixup! add depoy using ssh
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, slack-notification-frontend, upload-backend-release, slack-notification-backend

fixup! add depoy using ssh
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

fixup! add depoy using ssh
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, sonarqube-frontend-sast, slack-notification-frontend

fixup! add depoy using ssh
  backend/deploy.sh
  backend/pom.xml
  backend/sausage-store-backend.service
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

fixup! add depoy using ssh
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/sausage-store-backend.service
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

fixup! add depoy using ssh
  backend/sausage-store.service
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

fixup! add depoy using ssh
  backend/deploy.sh
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

fixup! add depoy using ssh
  backend/.gitlab-ci.yml
  backend/deploy.sh
  frontend/sausage-store-frontend.service
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, slack-notification-frontend, upload-backend-release, slack-notification-backend

fixup! add depoy using ssh
  backend/sausage-store-backend.service
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

fixup! add depoy using ssh
  frontend/deploy.sh
Due: build-frontend-code-job, sonarqube-frontend-sast, slack-notification-frontend

fixup! add depoy using ssh
  backend/deploy.sh
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
  frontend/sausage-store-frontend.service
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, slack-notification-frontend, upload-backend-release, slack-notification-backend

fixup! add depoy using ssh
  backend/deploy.sh
  frontend/deploy.sh
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, slack-notification-frontend, upload-backend-release, slack-notification-backend

fixup! add depoy using ssh
  backend/sausage-store-backend.service
  frontend/deploy.sh
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, slack-notification-frontend, upload-backend-release, slack-notification-backend

add depoy using ssh
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  backend/deploy.sh
  backend/pom.xml
  backend/sausage-store-backend.service
  frontend/.gitlab-ci.yml
  frontend/deploy.sh
  frontend/sausage-store-frontend.service
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, slack-notification-frontend, upload-backend-release, slack-notification-backend

add gitlab env
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

fixup! add gitlab env
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

fix log folder in services
  backend/sausage-store-backend.service
  frontend/sausage-store-frontend.service
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, slack-notification-frontend, upload-backend-release, slack-notification-backend

Changed DB to PostgreSQL
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/model/OrderProduct.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

try to create artifacts instead of cache
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

fixup! try to create artifacts instead of cache
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

Revert "fixup! try to create artifacts instead of cache"
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

fixup! try to create artifacts instead of cache
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: none

fix main and test properties
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: none

fixup! fix main and test properties
  backend/src/test/resources/application.properties
Due: none

add flyway
  backend/pom.xml
  backend/src/main/resources/application.properties
  backend/src/main/resources/db/migration/V01_create_tables.sql
  backend/src/main/resources/db/migration/V02_update_table.sql
  backend/src/main/resources/db/migration/V03_create_indexes.sql
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

Path conditions:
  build-backend-code-job: any of: backend/*
  build-frontend-code-job: any of: frontend/*
  sonarqube-backend-sast: any of: backend/*
  sonarqube-frontend-sast: any of: frontend/*
  slack-notification-frontend: any of: frontend/*
  upload-backend-release: any of: backend/*
  slack-notification-backend: any of: backend/*
