Repository varvarkrut/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, slack-notification-frontend, upload-backend-release, slack-notification-backend

build-backend-code-job:
  stage: build
  script:
  - cd backend
  - mvn package -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository
  artifacts:
    paths:
    - backend/target/sausage-store-$SNAPSHOT_VERSION-SNAPSHOT.jar
    - ${CI_PROJECT_DIR}/.m2/

build-frontend-code-job:
  stage: build
  script:
  - cd frontend
  - npm install
  - npm run build
  artifacts:
    paths:
    - frontend/dist/frontend
    - ${CI_PROJECT_DIR}/.m2/

sonarqube-backend-sast:
  stage: test
  image: maven:3.8-openjdk-16
  script:
  - cd backend
  - 'mvn verify sonar:sonar -Dsonar.qualitygate.wait=true -Dsonar.projectKey=${SONAR_KEY} -Dsonar.host.url=${SONAR_URL} -Dsonar.login=${SONAR_LOGIN} -Dsonar.projectName=09_IVANSHKURKO_BACKEND
  
    '
  needs:
  - build-backend-code-job

sonarqube-frontend-sast:
  stage: test
  image: node:16.0.0-buster
  script:
  - cd frontend
  - npm install -g sonarqube-scanner
  - 'sonar-scanner -Dsonar.projectKey=${SONAR_FRONT_KEY} -Dsonar.sources=. -Dsonar.host.url=${SONAR_URL} -Dsonar.login=${SONAR_FRONT_LOGIN} -Dsonar.projectName=09_IVANSHKURKO_FRONTEND
  
    '
  needs:
  ...

slack-notification-frontend:
  stage: notify
  script: 'ARTIFACT_URL=$(curl --user std-009-057:kgM+2E:j -X GET  https://nexus.praktikum-services.ru/service/rest/v1/search?maven.baseVersion=1.0.252595-SNAPSHOT | grep downloadUrl | head -1 | grep -Eo https://[a-zA-Z0-9./?=_%:-]*)
  
  ...

upload-backend-release:
  stage: release
  needs:
  - build-backend-code-job
  script:
  - cd backend
  - mvn -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository -s settings.xml -DskipTests deploy

slack-notification-backend:
  stage: notify
  script: 'ARTIFACT_URL=$(curl --user std-009-057:kgM+2E:j -X GET  https://nexus.praktikum-services.ru/service/rest/v1/search?maven.baseVersion={$SNAPSHOT_VERSION}-SNAPSHOT | grep downloadUrl | head -1 | grep -Eo https://[a-zA-Z0-9./?=_%:-]*)
  
  ...

fixup! add vault
  backend/pom.xml
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

fixup! add vault
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: none

Extracted reports to the new microservice
  backend-report/Dockerfile
  backend-report/README.md
  backend-report/app.py
  backend-report/requirements.txt
  backend-report/test_app.py
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportGeneratorTask.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/test/java/com/yandex/practicum/devops/task/ReportGeneratorTaskTest.java
Due: none

Vault
  backend/.gitlab-ci.yml
  backend/pom.xml
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

remove backend-report
  backend-report/Dockerfile
  backend-report/README.md
  backend-report/app.py
  backend-report/requirements.txt
  backend-report/test_app.py
Due: none

Extracted reports to the new microservice
  backend-report/.dockerignore
  backend-report/Dockerfile
  backend-report/README.md
  backend-report/pom.xml
  backend-report/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend-report/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend-report/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend-report/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend-report/src/main/resources/application.properties
  backend-report/src/main/resources/logback.xml
  backend-report/src/test/java/com/yandex/practicum/devops/task/ReportSaverTaskTest.java
Due: none

add docker compose
  .gitlab-ci.yml
  backend-report/.DS_Store
  backend-report/.gitlab-ci.yml
  backend-report/Dockerfile
  backend-report/README.md
  backend-report/pom.xml
  backend-report/settings.xml
  backend-report/src/.DS_Store
  backend-report/src/main/.DS_Store
  backend-report/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend-report/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend-report/src/test/java/com/yandex/practicum/devops/SausageApplicationIntegrationTest.java
  backend-report/src/test/java/com/yandex/practicum/devops/task/ReportSaverTaskTest.java
  backend/.gitlab-ci.yml
  backend/Dockerfile
  backend/pom.xml
  docker-compose.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, slack-notification-frontend, upload-backend-release, slack-notification-backend

Add backend-report and docker-compose
  .gitlab-ci.yml
  backend-report/.DS_Store
  backend-report/.gitlab-ci.yml
  backend-report/Dockerfile
  backend-report/README.md
  backend-report/pom.xml
  backend-report/settings.xml
  backend-report/src/.DS_Store
  backend-report/src/main/.DS_Store
  backend-report/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend-report/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend-report/src/test/java/com/yandex/practicum/devops/SausageApplicationIntegrationTest.java
  backend-report/src/test/java/com/yandex/practicum/devops/task/ReportSaverTaskTest.java
  backend/.gitlab-ci.yml
  backend/Dockerfile
  backend/pom.xml
  docker-compose.yml
  frontend/.gitlab-ci.yml
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, slack-notification-frontend, upload-backend-release, slack-notification-backend

fixup! add nginx balancer
  docker-compose.yml
Due: none

fixup! add nginx balancer
  frontend/nginx.tmpl
Due: build-frontend-code-job, sonarqube-frontend-sast, slack-notification-frontend

add nginx balancer
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.tmpl
Due: build-frontend-code-job, sonarqube-frontend-sast, slack-notification-frontend

fixup! add nginx balancer
  frontend/Dockerfile
  frontend/nginx.tmpl
Due: build-frontend-code-job, sonarqube-frontend-sast, slack-notification-frontend

Add nginx balancer
  docker-compose.yml
  frontend/Dockerfile
  frontend/nginx.tmpl
Due: build-frontend-code-job, sonarqube-frontend-sast, slack-notification-frontend

fixup! add blue and grin deploy
  backend/src/main/resources/application.properties
Due: none

fixup! add blue and grin deploy
  backend/Dockerfile
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

add blue and grin deploy
  backend/.gitlab-ci.yml
  backend/pom.xml
  docker-compose.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

fixup! add blue and grin deploy
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: none

fixup! add blue and grin deploy
  backend/Dockerfile
  backend/src/main/resources/log4j2.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

fixup! fixup! add blue and grin deploy
  backend/src/main/resources/application.properties
Due: none

fixup! add blue and grin deploy
  docker-compose.yml
Due: none

Green and blue deploy
  backend/.gitlab-ci.yml
  backend/pom.xml
  backend/src/main/resources/application.properties
  backend/src/main/resources/log4j2.yml
  backend/src/test/resources/application.properties
  docker-compose.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

change front dockerfile
  frontend/Dockerfile
Due: build-frontend-code-job, sonarqube-frontend-sast, slack-notification-frontend

fixup! change front dockerfile
  backend/src/main/resources/application.properties
Due: none

fixup! change front dockerfile
  backend-report/src/main/resources/application.properties
Due: none

fixup! change front dockerfile
  backend-report/pom.xml
Due: none

fixup! fixup! change front dockerfile
  backend-report/src/main/resources/application.properties
Due: none

fixup! fixup! change front dockerfile
  backend-report/Dockerfile
Due: none

Path conditions:
  build-backend-code-job: any of: backend/*
  build-frontend-code-job: any of: frontend/*
  sonarqube-backend-sast: any of: backend/*
  sonarqube-frontend-sast: any of: frontend/*
  slack-notification-frontend: any of: frontend/*
  upload-backend-release: any of: backend/*
  slack-notification-backend: any of: backend/*
