Repository varvarkrut/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, slack-notification-frontend, upload-backend-release, slack-notification-backend

.gitlab-ci.yml:

variables:
  SNAPSHOT_VERSION: 1.0.${CI_PIPELINE_ID}

stages:
  - build
  - test
  - release
  - notify

include:
  - template: Security/SAST.gitlab-ci.yml

build-backend-code-job:
  stage: build
  only:
    changes:
    - backend/*
  script:
    - cd backend
    - mvn package -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository
  artifacts:
    paths:
    - backend/target/sausage-store-$SNAPSHOT_VERSION-SNAPSHOT.jar
    - ${CI_PROJECT_DIR}/.m2/ # сохранение зависимостей для SAST

build-frontend-code-job:
  stage: build
  only:
    changes:
    - frontend/*
  script:
    - cd frontend
    - npm install
    - npm run build
  artifacts:
    paths:
      - frontend/dist/frontend
      - ${CI_PROJECT_DIR}/.m2/

spotbugs-sast:
  variables:
    COMPILE: "false"
    SAST_JAVA_VERSION: 11
    MAVEN_REPO_PATH: ${CI_PROJECT_DIR}/.m2/repository # не забудьте при сборке также указывать эту папку через аргумент -Dmaven.repo.local

sonarqube-backend-sast:
  stage: test
  only:
    changes:
      - backend/*
  image: maven:3.8-openjdk-16 # тот самый docker-образ, о котором мы все узнаем в будущем
  script:
    - cd backend
    - >
      mvn verify sonar:sonar -Dsonar.qualitygate.wait=true
      -Dsonar.projectKey=${SONAR_KEY}
      -Dsonar.host.url=${SONAR_URL}
      -Dsonar.login=${SONAR_LOGIN}
      -Dsonar.projectName=09_IVANSHKURKO_BACKEND
  needs:
    - build-backend-code-job

sonarqube-frontend-sast:
  stage: test
  only:
    changes:
      - frontend/*
  image: node:16.0.0-buster # тот самый docker-образ, о котором мы все узнаем в будущем
  script:
    - cd frontend
    - npm install -g sonarqube-scanner
    - >
      sonar-scanner
      -Dsonar.projectKey=${SONAR_FRONT_KEY}
      -Dsonar.sources=.
      -Dsonar.host.url=${SONAR_URL}
      -Dsonar.login=${SONAR_FRONT_LOGIN}
      -Dsonar.projectName=09_IVANSHKURKO_FRONTEND
  needs:
    - build-frontend-code-job

slack-notification-frontend:
  stage: notify
  only:
    changes:
    - frontend/*
  script: |
    ARTIFACT_URL=$(curl --user std-009-057:kgM+2E:j -X GET  https://nexus.praktikum-services.ru/service/rest/v1/search?maven.baseVersion=1.0.252595-SNAPSHOT | grep downloadUrl | head -1 | grep -Eo https://[a-zA-Z0-9./?=_%:-]*)
    curl -X POST -H "Content-type: application/json"  --data '{"text": " <'"$ARTIFACT_URL"'|frontend> "}' https://hooks.slack.com/services/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
  needs:
    - build-frontend-code-job

upload-backend-release:
  stage: release
  only:
    changes:
      - backend/*
  needs:
    - build-backend-code-job
  script:
    - cd backend
    - mvn -Dmaven.repo.local=${CI_PROJECT_DIR}/.m2/repository -s settings.xml -DskipTests deploy

slack-notification-backend:
  stage: notify
  only:
    changes:
    - backend/*
  script: |
    ARTIFACT_URL=$(curl --user std-009-057:kgM+2E:j -X GET  https://nexus.praktikum-services.ru/service/rest/v1/search?maven.baseVersion={$SNAPSHOT_VERSION}-SNAPSHOT | grep downloadUrl | head -1 | grep -Eo https://[a-zA-Z0-9./?=_%:-]*)
    curl -X POST -H "Content-type: application/json"  --data '{"text": " Вышла новая версия <'"$ARTIFACT_URL"'|backend> сосичной '"$SNAPSHOT_VERSION"'   "}' https://hooks.slack.com/services/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
  needs:
    - upload-backend-release

cache:
  paths:
    - ${CI_PROJECT_DIR}/.m2/repository # для хранения зависимостей бэкенда
    - frontend/dist/frontend # для хранения фронта

fixup! add flyway
  backend/src/main/resources/db/migration/V01__create_tables.sql
  backend/src/main/resources/db/migration/V02__update_table.sql
  backend/src/main/resources/db/migration/V03__create_indexes.sql
Due: none

fixup! add flyway
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: none

Added MongoDB integration
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

Flyway
  backend/pom.xml
  backend/src/main/resources/application.properties
  backend/src/main/resources/db/migration/V01__create_tables.sql
  backend/src/main/resources/db/migration/V02__update_table.sql
  backend/src/main/resources/db/migration/V03__create_indexes.sql
  backend/src/test/resources/application.properties
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

add mongo
  backend/sausage-store-backend.service
  backend/src/main/resources/application.properties
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

add docker
  backend/.gitlab-ci.yml
  backend/Dockerfile
  backend/backend_deploy.sh
  backend/pom.xml
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
  frontend/frontend_deploy.sh
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, slack-notification-frontend, upload-backend-release, slack-notification-backend

add s3 yandex
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
Due: none

S3
  backend/.gitlab-ci.yml
  backend/Dockerfile
  backend/backend_deploy.sh
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  frontend/.gitlab-ci.yml
  frontend/Dockerfile
  frontend/frontend_deploy.sh
Due: build-backend-code-job, build-frontend-code-job, sonarqube-backend-sast, sonarqube-frontend-sast, slack-notification-frontend, upload-backend-release, slack-notification-backend

add vault
  backend/.gitlab-ci.yml
  backend/pom.xml
  backend/src/main/resources/application.properties
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

fixup! add vault
  backend/pom.xml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

fixup! add vault
  backend/src/main/resources/application.properties
Due: none

fixup! add vault
  backend/.gitlab-ci.yml
  backend/src/main/resources/application.properties
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

fixup! add vault
  backend/.gitlab-ci.yml
Due: build-backend-code-job, sonarqube-backend-sast, upload-backend-release, slack-notification-backend

Revert "fixup! add vault"
  backend/src/main/resources/application.properties
Due: none

fixup! add vault
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: none

fixup! add vault
  backend/src/test/resources/application.properties
Due: none
